#app {
    display: flex;
    flex-direction: column;

    /*padding: 10px 300px;*/

    background-color: #ded;
}

#my-body {
    display: flex;
    padding: 1em 0.5em 0.5em 0.5em;

    /* for debugging purpose
    border: 2px solid red; */
}

.content {
    /* for debugging purpose
    border: 1px solid blue;*/
}



#my-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    padding-top: 1em;
    background-color: #deb;
}

#my-header {

    background-color: #deb;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em;
}


a.menu-link {
    color: black;
    padding: .5em .5em;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}


table {
    width: 100%;
    border-collapse: collapse;
}
table, tr {
    border: 1px solid #aee;
}
td, th {
    padding: 0.5em;
}
th {
    text-align: left;
}
tbody:nth-child(even) {
    background-color: #eed;
}


@media (max-width: 799px) {
    .content {
        width: 100%;
    }
}
@media (min-width: 800px) and (max-width: 1023px) {
    .content {
        width: 800px;
    }
}
@media (min-width: 1024px) {
    .content {
        width: 800px;
        padding-left: 40px;
    }
    .menu {
        width: 800px;
        padding-left: 40px;
    }
}
