#app {
    display: flex;
    flex-direction: column;

    /*padding: 10px 300px;*/

    background-color: #dec;
}

#my-body {
    display: flex;
    padding: 0em 0.5em 0.5em 0.5em;

    /* for debugging purpose
    border: 2px solid red; */
}

.content {
    /* for debugging purpose
    border: 1px solid blue;*/
}


#my-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    padding-top: 1em;
}

#my-header {

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em;
}


a.menu-link {
    color: black;
    padding: .5em .5em;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, tr {
    border: 1px solid #aee;
}

td, th {
    padding: 0.5em;
}

th {
    text-align: left;
}

tbody:nth-child(even) {
    background-color: #eed;
}


.pages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding-top: 8px;
}

.pages button {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages button.is-active {
    color: black;
    font-weight: bolder;
    pointer-events: none;
    background: transparent;
}

.dropdown {
    padding: 2px;
}


@media (max-width: 669px) {
    .content {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .content {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .menu {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
}

.q-questions {
    padding-top: 8px;
    padding-bottom: 8px;
}


.q-question {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #edeedc;
}

.q-question:nth-child(odd) {
    background-color: #deeedc;
    border-top: 1px solid #aee;
    border-bottom: 1px solid #aee;
}

